
.first{position: relative;}
.first .overlay{background-color: black;
                 height: 100%; 
                 width: 75%; 
                margin-left: 12%;  
                 position: absolute;top: 0;
                opacity: 40%;
                }
.first img{margin-left: 12%;}
.first .navbar{display: flex;}
.first .navbar table{margin-left: 12%;
                     padding: 2%;
                     justify-content: space-between;
                     background-color: rgb(40, 204, 40);
                     width: 75%;
                     color: ivory;
                     font-size: x-large ;
                     

}
.two{       height: 100%;                      
            width: 75%;
            border: solid black;
            margin-left: 12%;
            background-color: gold;


}
.two  h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;}
.two ul{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}
.two button{padding:2%;
            margin: 4%;
            width: 10%;
            height: 5%;
            border-radius: 10px;
            


}
.two button:hover{background-color: green;
                   color: azure;
                    font-size: x-large;
}
.two .tape:hover{background-color: red; 
                  color: azure;
                font-size: x-large;

}
.two .quizone input:checked{background-color:green;}
.two .top{background-color: rgb(40, 204, 40);
          padding: 1%;



}
.two .top h2{color: aliceblue;}
.three{ height: 100%;
        width: 75%;
        border: solid black;
         margin-left: 12%;
        
        }
.three .topictwo{background-color:rgb(40, 204, 40) ;
               padding: 1%; 
               justify-content: space-between;
               
            
            }
 
.three  h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;}
.three ul{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}           
.container{
           height: 100%;                      
           width: 75%;
           margin-left: 12%;
           background-size: cover;
     
     




}

.three button{padding:2%;
    margin: 4%;
    width: 10%;
    height: 5%;
    border-radius: 10px;
    


}
 .three .tape:hover{background-color: red;
                    color: azure;
                    font-size: x-large;
} 
 .three button:hover{background-color: green;
                     color: azure;
                     font-size: x-large;
}  


